.card {
  display: block;
  min-height: 150px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;

  mat-card {
    display: grid;
    grid-template-columns: 1fr auto;
    height: 100%;
    box-sizing: border-box;
  }

  mat-icon {
    color: #ccc;
  }

  .button-group {
    grid-column: 2;
    margin-left: auto;
    display: inline-block;
  }

  mat-card-title,
  mat-card-subtitle {
    grid-column: 1/2;
  }
}
